server:
  port: 8080 # MCP SSE Port

spring:
  application:
    name: mysheet-mcp
  ai:
    mcp:
      server:
        name: webflux-mcp-server
        version: 1.0.0
        type: ASYNC  # Recommended for reactive applications
        sse-message-endpoint: /sse
storage:
  file: storage/upload
  cache: storage/cache

cos:
  secret-id: ${COS_SECRET_ID}
  secret-key: ${COS_SECRET_KEY}
  region: ap-beijing
  bucket-name: chinamobile-1320739042